In [62]:
# libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import graphviz
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [21]:
# dataset 
data=pd.read_csv('titanic-passengers.csv',sep=';')
data['Cabin'].fillna('G6',inplace=True)
data['Age'].fillna(data['Age'].mean(), inplace=True)
data['Embarked'].fillna('S',inplace=True) 
data.replace({'Sex':{'male': 1,'female':0}},inplace=True)
data.replace({'Survived':{'Yes': 1,'No':0}},inplace=True)
data.head(8)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,0,2,"Collander, Mr. Erik Gustaf",1,28.0,0,0,248740,13.0000,G6,S
1,76,0,3,"Moen, Mr. Sigurd Hansen",1,25.0,0,0,348123,7.6500,F G73,S
2,641,0,3,"Jensen, Mr. Hans Peder",1,20.0,0,0,350050,7.8542,G6,S
3,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",0,29.0,0,4,349909,21.0750,G6,S
4,672,0,1,"Davidson, Mr. Thornton",1,31.0,1,0,F.C. 12750,52.0000,B71,S
5,105,0,3,"Gustafsson, Mr. Anders Vilhelm",1,37.0,2,0,3101276,7.9250,G6,S
6,576,0,3,"Patchett, Mr. George",1,19.0,0,0,358585,14.5000,G6,S
7,382,1,3,"Nakid, Miss. Maria (""Mary"")",0,1.0,0,2,2653,15.7417,G6,C

In [22]:
# splitting data
x=data.drop(["Survived", "Name", "Cabin", "Ticket", "Embarked"], axis=1)
y= data["Survived"]
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)
tree = tree.DecisionTreeClassifier()  
tree.fit(x_train, y_train) 
y_pred=tree.predict(x_test) 
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.7877094972067039

In [33]:
# decision tree prediction
tree = tree.DecisionTreeClassifier()  
tree.fit(X_train, y_train)   
y_pred=tree.predict(X_test)   
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.7877094972067039

In [51]:
# plotting the decision tree
clf=DecisionTreeClassifier()
clf.fit(X_train, y_train)
dot_data = tree.export_graphviz(clf, out_file=None)
graph = graphviz.Source(dot_data)
graph.render("data")
graph

In [56]:
# improving the tree parameters
dtree= tree.DecisionTreeClassifier(criterion="entropy",splitter="best",max_leaf_nodes=10,
                                   min_samples_split=2,min_weight_fraction_leaf=0.0,min_samples_leaf=1,max_depth=5)

In [63]:
# Calculating the new accuracy and comparing it with the previous results
tree = tree.DecisionTreeClassifier()  
tree.fit(X_train, y_train)  
y_pred=tree.predict(X_test)   
print("score:{}".format(accuracy_score(y_test, y_pred)))

# old accuracy: "0.7877094972067039"
# new accuracy: "score:0.770949720670391"

score:0.770949720670391

In [72]:
# Using random forest and changing the number of estimators
clf=RandomForestClassifier(n_estimators=100)  
clf.fit(x_train, y_train)  
y_pred=clf.predict(x_test) 
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8547486033519553

In [ ]:
# old accuracy: "0.770949720670391"
# new accuracy: "0.8547486033519553"